{
  "env" : {
    "node" : true,
    "browser" : true,
    "webextensions": true,
    "mocha": true
  },
  "globals": {
    "DEVELOPMENT": true,
    "PRODUCTION": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 0,
    "no-unused-vars": [2, {"args": "all", "argsIgnorePattern": "^_"}]
  }
}
