name: Lint
on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}
      GOBIN: ${{ github.workspace }}/bin
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18.x
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - run: npm ci
        working-directory: ./webext
      - name: Is web extension 'pretty'?
        run: npm run lint
        working-directory: ./webext

      - name: Is Golang interfacer formatted?
        run: ./ctl.sh golang_lint_check
